#main-title{
    color:#00de07
}
.home .hero .action-button{
    background-color: black;
    }
.home .features .feature p  {
    color: #5999ff;
    font-size: 1.24rem;
}
.home .features .feature H2  {
    font-size: 1.6rem;
}
p{
    font-size:1.4rem;
    line-height: 2.6rem;
    word-spacing: 1px;
    letter-spacing: 2px;
}
.webpack-diagram{
    display: block;
    margin:.4rem auto;
    }

.highlight{
    background-color:#0033ff;
    padding: .2rem;
    border-radius: 5px;
}



.home .hero .description{
    line-height: 1.6rem;
    max-width: 40rem;
    }
.navbar .site-name{
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    left:13%;
}
.home .hero img{
    min-width:100%;
    min-height:70vh;
    box-sizing: border-box;
    border:20px solid black;
}
.home-link{
    transform: scale(1) translateX(-25px);
    text-align: center;
}
@media only screen and (max-width:719px){
    .home-link{
        transform: scale(0.8) translateX(-25px);
        left:25px;
        position:relative;
        width: 70%;

    }
}

.webpackImg{
    margin:.5rem auto;
    text-align: center;
    display: block;
    height:25rem;
}
.gitImg{
    display: block;
    text-align: center;
    display:block;
    margin:.5rem auto;
    hright:25rem;
}

img{
    text-align: center;
    margin:auto;
}
.theme-container.custom-page-class {
  background: #212121;
  color:#d9d9d9;
}
.tip{
    color:green;
}
.sidebar{
    background: #262626
}
.sidebar a{

}
.nav-link{
    font-size: 1.4rem;
    font-weight: bolder;
    background: black;
    padding:0.5rem;
    border-radius: 10px;
}
.router-link-active{
    color:red;
}
.navbar{
    background: #262626;
}
.navbar .links{
    background: #262626 !important
}
.theme-default-content{
    max-width: 800px !important
}