#main-title{
    color:#005e00
}
.home .hero .action-button{
    background-color: black;
    }
.home .features .feature p  {
    color: #0155a9;
    font-size: 1.24rem;
}
p{
    font-size:1.4rem;
    line-height: 2.6rem
}
.webpack-diagram{
    display: block;
    margin:.4rem auto;
    }

.highlight{
    background-color:#9cfaff;
    padding: .2rem;
    border-radius: 5px;
}



.home .hero .description{
    line-height: 1.6rem;
    max-width: 40rem;
    }
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
.navbar .site-name{
    font-family: 'Shrikhand', cursive;
    font-size: 2rem;
    left:13%;
}
.home .hero img{
    min-width:100%;
    min-height:70vh;
    box-sizing: border-box;
    border:20px solid black;
}
.home-link{
    transform: scale(1) translateX(-25px);
    text-align: center;
}
.sidebar{

}
@media only screen and (max-width:719px){
    .home-link{
        transform: scale(1) translateX(-25px);
        left:25px;
        position:relative;
        width: 70%;

    }
}

.webpackImg{
    margin:.5rem auto;
    text-align: center;
    display: block;
    height:25rem;
}
.gitImg{
    display: block;
    text-align: center;
    display:block;
    margin:.5rem auto;
    hright:25rem;
}
.nav-link{
    font-size: 1.4rem;
    font-weight: bolder;
}
img{
    text-align: center;
    margin:auto;
}